[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
requests = ">=2.20.0"
matplotlib = ">=3.0.0"
wordcloud = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"
